<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wj.mapper.TbUserMapper">
    <select id="selectByPrimaryKey" resultType="com.wj.model.User" parameterType="Integer">
        select id,username,passwd from user
        where id = #{id}
    </select>


    <!--useGeneratedKeys="true" keyProperty="id"

        如果想将插入后的每条记录的ID回设置到user中，需要设置KeyProperty="id" 这个属性
        这样设置后 ，通过debug运行，可以观测到ID会回设置到user中
    -->
    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
        insert into user (username,passwd)
        values
        <foreach collection="list" separator="," item="user">
            (
            #{user.username,jdbcType=VARCHAR},
            #{user.passwd,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

</mapper>