<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wj.mapper.TbUserMapper">
    <select id="selectByPrimaryKey" resultType="com.wj.model.User" parameterType="Integer">
        select id,username,passwd from user
        where id = #{id}
    </select>


    <!--useGeneratedKeys="true" keyProperty="id"-->
    <insert id="batchInsert" useGeneratedKeys="true" >
        insert into user (username,passwd)
        values
        <foreach collection="list" separator="," item="user">
            (
            #{user.username,jdbcType=VARCHAR},
            #{user.passwd,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

</mapper>