<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>


    <settings>
        <!--
            对任何方法的调用 都会调用该方法的完整加载 如果想让设置的fetchType="lazy"生效，需要设置这个属性为false
            默认为true
        -->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>

    <!--别名定义-->
    <typeAliases>
        <package name="com.wj.model" />
    </typeAliases>

    <!--环境配置，连接的数据库，这里使用的是MySQL-->
    <environments default="mysql">
        <environment id="mysql">
            <!--指定事务管理的类型，这里简单使用Java的JDBC的提交和回滚设置-->
            <transactionManager type="JDBC"></transactionManager>
            <!--dataSource 指连接源配置，POOLED是JDBC连接对象的数据源连接池的实现-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"></property>
                <property name="url" value="jdbc:mysql://127.0.0.1:3307/spring"></property>
                <property name="username" value="root"></property>
                <property name="password" value="root"></property>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/TbUserMapper.xml" />
       <!-- <package name="com.wj.mapper"></package>
        <package name="com.wj.pojo"></package>-->
        <!--<mapper resource="mapper/TUserMapper.xml" />
        <mapper resource="mapper/TPositionMapper.xml" />
        <mapper resource="mapper/THealthReportFemaleMapper.xml" />
        <mapper resource="mapper/THealthReportMaleMapper.xml" />-->
    </mappers>
</configuration>



